@import url('https://fonts.googleapis.com/css?family=Josefin Slab|Roboto:400');

:root {
    /* Default number of rows & columns*/
    --grid-rows: 16;
    --grid-cols: 16;
}

html {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Josefin Slab', sans-serif;
}
  
#container {
    display: grid;
    /* Repeat the number of rows */
    grid-template-rows: repeat(var(--grid-rows), auto);
    /* Repeat the set number of columns */
    grid-template-columns: repeat(var(--grid-cols), auto);
    height: 600px;
    width: 600px;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
  
.cell-item {
    border: 0.1px solid rgba(0,0,0,0.2);
    transition: 100ms;
}

.fill {
    background: rgb(0,0,0);
}