:root {
    /* Default number of rows & columns*/
    --grid-rows: 16;
    --grid-cols: 16;
}
  
#container {
    display: grid;
    /* Repeat the number of rows */
    grid-template-rows: repeat(var(--grid-rows), auto);
    /* Repeat the set number of columns */
    grid-template-columns: repeat(var(--grid-cols), auto);
    height: 600px;
    width: 600px;
    margin: auto;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
  
.cell-item {
    border: 0.3px solid white;
    transition: call .1s ease;
}

.fill {
    background: rgb(0,0,0);
}